<div class="orchard-panel">
<div class="panel-header">
  <h1>Edit Donor</h1>
  <ul>
    <li><%= link_to 'cancel', donors_path %></li>
  </ul>
</div>

<%= render 'form' %>

<%= link_to 'Show', @donor %> |
<%= link_to 'Back', donors_path %>
</div>
