<p id="notice"><%= notice %></p>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Edit a Pledge</h1>
  </div>
  <div id="gen-errors">
    <ul></ul>
  </div>
  <div id="gen-form">
    <%= render "form" %>
  </div>
  <div id="gen-list">
    <%= render "index" %>
  </div>
</div>
