<p id="notice"><%= notice %></p>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Record a Pledge</h1>
  </div>
  <div id="pledge-errors">
    <ul></ul>
  </div>
  <div id="pledge-form">
    <%= render "form" %>
  </div>
  <div id="pledge-list">
    <%= render "index" %>
  </div>
</div>
