<p id="notice"><%= notice %></p>
<div class="orchard-panel">
  <div class="panel-header">
    <h1>Pledge</h1>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="stat">
        <em>Buyer</em>
        <strong id="stat"><%= link_to @pledge.buyer.full_name, buyer_path(@pledge.buyer)%></strong>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="stat">
        <em>Price</em>
        <strong><%= number_to_currency(@pledge.amount) %></strong>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="stat">
        <em>Type</em>
        <strong><%= @pledge.pledge_type %></strong>
      </div>
    </div>
  </div>

</div>
