<p id="notice"><%= notice %></p>

<div class="orchard-panel">
  <div class="panel-header">
    <h1>Create a New Auction</h1>
  </div>
  <div id="ev-errors">
    <ul></ul>
  </div>
  <div id="ev-form">
    <%= render "form" %>
  </div>
</div>
