<% if @contacts.count > 0 %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>By</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody id="donor-contacts">
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.contacted_on %></td>
      <td><% if contact.channel.nil? %>&mdash;<% else %><%= contact.channel.humanize %><% end %></td>
      <td><%= contact.user.first_name %></td>
      <td><%= contact.note %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p>Contact hasn't been made yet.</p>
<% end %>
