<p id="notice"><%= notice %></p>

<div class="orchard-panel">
<div class="panel-header">
  <h1>Auction Item Submission</h1>
</div>
<h4>Thanks for helping out!</h4>
<p><%= link_to 'Add a New Donation', new_submission_path, {class: "action-button"} %>  </p>
