<div class="orchard-panel">
<div class="panel-header">
  <h1>New Lot</h1>
  <ul>
    <li><%= link_to 'Cancel', lots_path %></li>
  </ul>
</div>

<%= render 'form' %>

<%= link_to 'Back', lots_path %>
</div>