<% if @buyer.wins.count > 0 %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th class="numeric">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="buyer-wins">
    <% @buyer.wins.each do |win| %>
    <tr>
      <td></td>
      <td><%= link_to win.item.name, win_path(win) %></td>
      <td class="numeric"><%= number_to_currency(win.price) %></td>
      <td><%= link_to '<i class="fi-x"></i>'.html_safe, win_path(win), method: :delete, data: { confirm: 'Are you sure? This remove this win for this buyer.' } %></td>
    </tr>
    <% end %>
    <tr></tr>
    <tr class="summation">
      <td></td>
      <td>Total: </td>
      <td class="numeric"><%= number_to_currency(@total) %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% else %>
<p>No wins entered yet for this buyer</p>
<% end %>
