<% if @buyer.pledges.count > 0 %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Type</th>
      <th class="numeric">Amount</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="buyer-pledges">
    <% @buyer.pledges.each do |pledge| %>
    <tr>
      <td></td>
      <td><%= pledge.pledge_type %></td>
      <td class="numeric"><%= number_to_currency(pledge.amount) %></td>
      <td><%= link_to '<i class="fi-x"></i>'.html_safe, event_pledge_path(@event, pledge), method: :delete, data: { confirm: 'Are you sure? This remove this pledge for this buyer.' } %></td>
    </tr>
    <% end %>
    <tr></tr>
    <tr class="summation">
      <td></td>
      <td>Total: </td>
      <td class="numeric"><%= number_to_currency(@pledge_total) %></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% else %>
<p>No pledges entered yet for this buyer</p>
<% end %>
